
body {
  background-color: #222;
  color: #fff;
}


.todo-app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.todo-app h1 {
  text-align: center;
}

.input-container {
  display: flex;
}

.input-container input {
  flex-grow: 1;
  padding: 5px;
  font-size: 16px;
}

.add-btn {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-item.completed .task-content .task-label {
  text-decoration: line-through;
  color: #aaa;
}


.task-checkbox {
  flex-shrink: 0;
  margin-right: 10px;
}

.task-checkbox input {
  width: 20px;
  height: 20px;
}


.task-content {
  flex-grow: 1;
}

.task-label {
  overflow-wrap: anywhere;
  word-break: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.task-content .task-label {
  cursor: pointer;
  font-size: 18px;
  cursor: pointer;
}

.task-datetime {
  margin-top: 5px; /* Add spacing between task label and datetime */
}

.added-datetime {
  font-size: 14px;
  color: #888;
}


.completed-datetime {
  font-size: 14px;
  color: #888;
}

.task-buttons {
  display: flex;
  align-items: center;
  
}

.task-buttons button {
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.edit-btn {
  background-color: #2196f3;
  color: white;
  margin-right: 10px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  margin-left: auto;
  
}



